name: Create Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libgl1-mesa-dev \
            libxrandr-dev \
            libxinerama-dev \
            libxcursor-dev \
            libxi-dev \
            libasound2-dev \
            pkg-config \
            libjack-jackd2-dev \
            libxcb-render0-dev \
            libxcb-shape0-dev \
            libxcb-xfixes0-dev \
            libxcb-icccm4-dev \
            libx11-xcb-dev \
            libxcb-dri2-0-dev

      - name: Build FreqChain
        run: cargo xtask bundle freqchain --release

      - name: Package Archive
        run: |
          tar -cavf FreqChain_Linux.tar.gz target/bundled/*

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: FreqChain-Linux
          path: |
            FreqChain_Linux.tar.gz

  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Build FreqChain
        run: cargo xtask bundle freqchain --release

      - name: Package Archive
        shell: powershell
        run: |
          Compress-Archive -Path 'target/bundled/FreqChain.clap', 'target/bundled/Contents/x86_64-win/FreqChain.vst3' -DestinationPath 'FreqChain_Windows.zip'

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: FreqChain-Windows
          path: |
            FreqChain_Windows.zip

  release:
    runs-on: ubuntu-latest
    needs: [build-linux, build-windows]

    steps:
      - name: Download Linux Artifact
        uses: actions/download-artifact@v4
        with:
          name: FreqChain-Linux
          path: artifacts

      - name: Download Windows Artifact
        uses: actions/download-artifact@v4
        with:
          name: FreqChain-Windows
          path: artifacts

      - name: Add Version
        run: |
          if [ ${GITHUB_REF_NAME} != "workflow_dispatch" ]; then
            VERSION=${GITHUB_REF#refs/tags/}
            mv artifacts/FreqChain_Linux.tar.gz artifacts/FreqChain_Linux_${VERSION}.tar.gz
            mv artifacts/FreqChain_Windows.zip artifacts/FreqChain_Windows_${VERSION}.zip 

      - uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: |
            artifacts/FreqChain_Linux_*.tar.gz
            artifacts/FreqChain_Windows_*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}